      <form data-controller="form" action="/account/users/<%= @id %>" accept-charset="UTF-8" method="post"><input type="hidden" name="_method" value="patch" />
        <label class="btn txt-small flex-item-no-shrink" for="role_user_<%= @id %>">
          <span class="for-screen-reader">Role: <%= @role %></span>
          <img aria-hidden="true" src="<%= Campfire.Assets.path("crown.svg") %>" width="20" height="20" />
          <input name="user[role]"<%= if @self, do: ~s( disabled="disabled"), else: "" %> type="hidden" value="member" /><input data-action="form#submit" hidden="hidden" id="role_user_<%= @id %>"<%= if @self, do: ~s( disabled="disabled"), else: "" %> type="checkbox" value="administrator" <%= if @admin, do: ~s(checked="checked" ), else: "" %>name="user[role]" />
        </label>
</form>
