  <div id="boost_<%= @id %>"
      class="boost boost-item flex-inline postion--relative max-width align-center fill-white gap"
      data-controller="boost-delete" data-boost-delete-perform-class="boost--deleting" data-boost-delete-reveal-class="expanded" data-boost-delete-booster-id-value="<%= @booster_id %>">
    <figure class="avatar boost__avatar flex-item-no-shrink">
      <%= @avatar %>
    </figure>

    <span role="button" class="txt-small<%= if @emoji, do: " txt-medium", else: "" %>" data-action="click-&gt;boost-delete#reveal keydown.enter-&gt;boost-delete#reveal:prevent" data-boost-delete-target="content"><%= @content %></span>

    <form class="button_to" method="post" action="/messages/<%= @message_id %>/boosts/<%= @id %>"><input type="hidden" name="_method" value="delete" /><button data-action="boost-delete#perform" data-boost-delete-target="button" class="btn btn--negative flex-item-justify-end boost__delete" type="submit">
      <img aria-hidden="true" src="<%= Campfire.Assets.path("minus.svg") %>" width="20" height="20" />
      <span class="for-screen-reader">Delete this boost</span>
</button></form>  </div>
  <span id="delete_boost_accessible_label" class="for-screen-reader">Press enter to delete this boost</span>
