            
            <details class="notifications-help hide-in-browser" data-notifications-target="details">
  <summary class="btn">
    <img aria-hidden="true" src="<%= Assets.path("external/gear.svg") %>" width="20" height="20" />
    <strong>Check your <%= @os %> settings</strong>
    <img aria-hidden="true" class="disclosure" src="<%= Assets.path("disclosure.svg") %>" width="10" height="10" />
  </summary>

      <ol>
        <li>Open the <em><img aria-hidden="true" src="<%= Assets.path("external/gear.svg") %>" width="20" height="20" /></em> Settings app.</li>
        <li>Scroll to and tap <em>Campfire</em>.</li>
        <li>Tap <em>Notifications</em>.</li>
        <li>Tap <em><img alt="the allow notifications switch button" src="<%= Assets.path("external/switch.svg") %>" width="22" height="22" /></em> to <em>Allow Notifications</em>.</li>
      </ol>
</details>

            
