<li class="flex align-center gap margin-none" data-value="<%= @value %>">
  <figure class="avatar flex-item-no-shrink" style="--avatar-size: 4ch;">
    <%= @avatar %>
  </figure>

  <div class="min-width">
    <div class="overflow-ellipsis fill-shade"><strong><%= @name %></strong></div>
  </div>

  <hr class="separator" aria-hidden="true">

</li>
