<%= if @query do %>          <div class="searches__query flex align-center gap pad-block-start-half">
      <div class="btn btn--reversed btn--faux align-center gap txt-nowrap">
        <span class="overflow-ellipsis">“<%= @query %>”</span>
        <span class="flex-item-no-shrink"><%= @count %></span>
</div>    </div>

<% else %>      
<% end %>  <div class="searches__recents align-center gap pad-block-half overflow-y overflow-hide-scrollbar">
<%= @recent_links %><%= if @has_recents do %>      <form class="button_to" method="post" action="<%= @base %>/searches/clear"><input type="hidden" name="_method" value="delete" /><button class="btn searches__btn" data-turbo-confirm="Are you sure you want to clear your recent searches?" type="submit">
        <img aria-hidden="true" src="<%= Campfire.Assets.path("broom.svg") %>" />
        <span class="for-screen-reader">Clear recent searches</span>
</button><input type="hidden" name="authenticity_token" value="<%= @clear_token %>" /></form><% end %>  </div>

