        <div class="flex-item-justify-start">
    <a class="btn" href="<%= @back %>"><img aria-hidden="true" src="<%= Assets.path("arrow-left.svg") %>" width="20" height="20" /><span class="for-screen-reader">Go Back</span></a>
  </div>

  <div class="flex align-center gap flex-item-justify-end">
      <a class="btn" href="/users/me/profile">
        <img aria-hidden="true" src="<%= Assets.path("pencil.svg") %>" />
        <span class="for-screen-reader">Edit my profile</span>
</a>  </div>

